<div class="header">
    <div class="container text-center" style="position:relative; left:-20px;">
<div id="siteName" style="display: inline">Post-n-Poll</div>
<div style="display: inline">&copy;</div>&nbsp;<div style="display:inline"><a href="https://www.freecodecamp.org/griffinf3">
  <img src="fcc.jpg" alt="FreeCodeCamp profile" target="_blank" style="position:relative;top:-10px; width:30px;height:30px;border:0;">
</a></div>
</div>
    <div id="description"><p>(Set up an account for free; log in, post questions, and view participant responses)</p></div>
  </div>