<div class="header">
    <div class="container text-center">
<div id="siteName" style="display: inline">Post-n-Poll</div>
<div style="display: inline">&copy;</div>
</div>
    
    
    <div id="description"><p>(Set up an account for free, log in, post questions, and view participant responses)</p></div>
  </div>