<div class="header">
    <div class="container text-center">
<div id="siteName" style="display: inline">Post-n-Poll</div>
<div style="display: inline">&copy;</div>
</div>
    
    
    <div id="description"><p>(Set up an account for free, log in, post questions, and view participant responses)</p><a style="display:inline" href="https://www.freecodecamp.org/griffinf3">
  <img src="fcc.jpg" alt="FreeCodeCamp profile" style="width:42px;height:42px;border:0;">
</a></div>
  </div>