<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<style>
#poll{
    margin-left: 20px;
    margin-top: 5px;
}
    
    </style>
<body onload="loaded()">

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#">Post</a></li>
                  <li class="dropbtn"><div class="dropdown"><a>Polls</a>
         <div class="dropdown-content">
    <a id="poll1" onclick = "pollType(1)">Locally Created</a>
    <a id="poll2" onclick = "pollType(2)">Publicly Shared</a>
            </div></div></li> 
        <li><a onclick = "checkEdit()">Edit</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> 
            <a href="/signlog"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Log out</a></li>
      </ul>
    </div>
  </div>
</nav> 
      
<header>
    <% include partials/header %>
</header>
<div id = "poll">
    
    <form action="/create" method="post">
   Question:<br>
  <input id="input1" type="text" name="question" value="What is your favorite ...?" size="30">
        
        <input type="checkbox" name="showcase" value="showcase" checked>Showcase on Home Page<br>
        <input style="margin-left: 247px" type="checkbox" name="visiblity" value="visibility">Make visible to all users logged in to this website.
        
        <br><br><br>
   Options:<br>
   <select id="myOptions" name="options[]" multiple="multiple">
    <option value="Option1">Option 1</option>
        </select>
       
   <input style="margin-left:130px;" type="submit" onclick="selectAll()" value="Post this Poll">
     </form>   
       
 <div id="input2" style="display:none"><input id="newoption" type="text" name="option" value="" size="10"></div>
    <div style="margin-bottom: 5px;">
    <button id= "add" onclick="doAdd()">Add</button> 
    <button id= "edit" onclick="doEdit()">Edit</button> 
    <button id= "delete" onclick="doDelete()">Delete</button> 
        </div>
   <div style="margin-bottom: 5px;"><button id="done" style="display:none" onclick="doDone()">Done</button></div>
</div>

<footer class="container-fluid text-center">
    <% include partials/footer %>
</footer>
<script>
    function loaded() {
   document.getElementById("myOptions").options[0].selected = true;  
    }
    
    function pollType(num){
     if (num == 1) {
         checkPolls()   
     }
     else {window.location = "/view?type=public";}   
 }
    
    function checkEdit(){
     var totalPolls =  <%- JSON.stringify(totalPolls) %>; 
    if (totalPolls == 0) alert("There are no polls to edit.");
              else  window.location = "/edit";
         }
         
  function checkPolls(){
     var totalPolls =  <%- JSON.stringify(totalPolls) %>; 
             if (totalPolls == 0) alert("No polls have been posted.");
              else  window.location = "/view?type=local";
         }
    
    function doDelete() {
      if (document.getElementById("myOptions").length >1)
      {
      var x = document.getElementById("myOptions");
      x.remove(x.selectedIndex);} 
    }
    
    function doAdd() {
      var x = document.getElementById("myOptions");
      var option = document.createElement("option");
      option.text = "Next Option";
      x.add(option);
        
      var lg = document.getElementById("myOptions").length;
        document.getElementById("myOptions").options[lg-1].selected = true;
    }
    
    function doEdit() {
        var x = document.getElementById("myOptions");
     document.getElementById('newoption').value = x.options[x.selectedIndex].text;
      document.getElementById('input2').style.display = 'block';
      document.getElementById('edit').style.display = 'none';
      document.getElementById('add').style.display = 'none';
      document.getElementById('delete').style.display = 'none';
      document.getElementById('done').style.display = 'block';
        
      var input2 = document.getElementById('newoption');
        input2.focus();
       input2.select();
    } 
    
    function doDone() {    
    document.getElementById('input2').style.display = 'none';
    document.getElementById('edit').style.display = 'inline';
    document.getElementById('add').style.display = 'inline';
    document.getElementById('delete').style.display = 'inline';
    document.getElementById('done').style.display = 'none';     
    }
    
    function selectAll() 
    {var selectBox = document.getElementById("myOptions");
      for (var i = 0; i < selectBox.options.length; i++) 
        { selectBox.options[i].selected = true; } 
    }
    
    newValue = document.getElementById('newoption'); 

    newValue.onkeyup = function(){
    var x = document.getElementById("myOptions");
    x.options[x.selectedIndex].text = newValue.value;
    x.options[x.selectedIndex].value = newValue.value;  
    }

</script>
</body>
</html>