<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<style>
    button {
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  font-weight: bold;
  padding: 0 10px;
  background: salmon;
  border: none;
}
      
.button {
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  font-weight: bold;
  padding: 0 10px;
  background: salmon;
  border: none;
}
</style>
<body onload=loaded();>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/create">Post</a></li>
              <li class="dropbtn"><div class="dropdown"><a>Polls</a>
         <div class="dropdown-content">
    <a id="poll1" onclick = "pollType(1)">Local</a>
    <a id="poll2" onclick = "pollType(2)">Other</a>
            </div></div></li> 
        <li><a href="/edit">Edit</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> 
            <a href="/signlog"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Logout</a></li>
      </ul>
    </div>
  </div>
</nav> 
   
 <header>
    <% include partials/header %>
</header> 
    
<div style="margin:20px;">
  <ul id="myList">
</ul>
</div>

<footer class="container-fluid text-center"> 
    <% include partials/footer %>
</footer>

</body>
   <script>     
    function loaded() {
        
       var loc = [];
       var loc2 =[];
       var voteBtn;
       var deleteBtn;
     var type = <%- JSON.stringify(type) %>;  
     if (type == "public") {qnlist = <%- JSON.stringify(qnamelist) %>;
             }
         //else var ql = <%- JSON.stringify(questionlist) %>;
        //else console.log('type'+ type);
         }
       
</script>
 
    
</html>
